.cbList
{
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	float: left;
	background-color: #ffffff;
	width: 170px;
	overflow:auto;
	font-size: 12px;
	z-index: 1001;
	padding: 0px;
	margin: 0px;
}

#cbItems
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 170px;
	padding: 0px;
	margin: 0px;
}
#cbItems h1
{
	display: block;
	background-color: #FF9900;
	font-size: 12px;
	padding: 0 0 0 0;
	border: 1px solid #000000;
	color: #333333;
	margin: 0px;
	width: 170px; /*height: 15px;*/
}
#cbItems ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
	line-height: 15px;
}
#cbItems ul li
{
	margin: 0px;
	padding: 0px;
}
#cbItems ul li a
{
	display: block; /*border-bottom: 1px dashed #C39C4E;*/
	padding: 2px 0px 2px 5px;
	text-decoration: none;
	color: #666666;
	width: 165px;
	font-size: 12px;
}
#cbItems ul li a:hover, #cbItems ul li a:focus
{
	color: #000000;
	background-color: #eeeeee;
}