<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="AgileEAP.WebControls" />
      </assemblies>
    </compilation>

    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="AgileEAP.Core.Utility"/>
        <add namespace="AgileEAP.Core"/>
        <add namespace="AgileEAP.MVC"/>
        <add namespace="AgileEAP.WebControls"/>
        <add namespace="AgileEAP.Core.Extensions"/>
        <add namespace="AgileEAP.Plugin.Workflow"/>
      </namespaces>
      <controls>
        <add tagPrefix="agile" namespace="AgileEAP.WebControls" assembly="AgileEAP.WebControls"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>