@inherits AgileEAP.MVC.ViewEngines.Razor.WebViewPage
@using AgileEAP.MVC
@using System.Web.Mvc.Html
@{ 
    
    Script.Require("jQuery").AtHead();
   
    Script.Require("jQueryUI").AtHead();

    Script.Require("tab").AtHead();
    Script.Require("site").AtHead();
    Script.Require("dialog").AtHead();
    Script.Require("ConfigureControljs").AtHead();


    Style.Require("site_" + Theme);
    Style.Require("tab_" + Theme);
    Style.Require("smoothnessjQueryUI_" + Theme);
    Style.Require("ConfigureControl_" + Theme);
    
}
<!DOCTYPE html>
<html>
<head>
    <title>@Version.eClientName</title>
    @Html.Metas()
    @Html.HeadCss()
    @Html.HeadScripts()
    <script type="text/javascript">
    $(document).ready(function () {
        $("#configure_tabs").tabs();
        $("#save").button().click(function (event) {
            event.preventDefault();
            var controlOldID = $.query.get("ControlID");
            var controlType = $.query.get("ControlType");
            if (typeof (parent.setContorlValue) == "function") {
                parent.setContorlValue({DefaultValue:$("#controlValue").val(), ExtendData: $("#extendData").val(), ControlType: controlType, OldID: controlID, ID: $("#controlId").val(), Name: $("#controlId").val(), Text: $("#controlName").val(), Width: $("#controlWidth").val(), Height: $("#controlHeight").val(),}, 1);
            }
            else {
                parent.$("#actionDialog").find("#bg_div_iframe")[0].contentWindow.setContorlValue({ DefaultValue: $("#controlValue").val(), ExtendData: $("#extendData").val(), ControlType: controlType, OldID: controlID, ID: $("#controlId").val(), Name: $("#controlId").val(), Text: $("#controlName").val(), Width: $("#controlWidth").val(), Height: $("#controlHeight").val() });
            }

            window.parent.$("#actionDialog2").dialog("close");
        });
        $("#cancel").button().click(function (event) {
            event.preventDefault();
            window.parent.$("#actionDialog2").dialog("close");
        });
        $("#controlId").click(function () {
            configure.getDataSource({ ID: this.id, form: form });
        });
        $("#extendData").click(function () {
            configure.getDataSource({ ID: this.id, form: form });
        });
        var controlID = $.query.get("ControlID");
        var form = null;
        var me = null;
        if (parent.form) {
            form = parent.form;
            me = parent.document.getElementById(controlID);
        }
        else {
            form = parent.$("#actionDialog").find("#bg_div_iframe")[0].contentWindow.form;
            me = parent.$("#actionDialog").find("#bg_div_iframe")[0].contentWindow.document.getElementById(controlID);
        }
        var fields = form.Fields;
        for (var i = 0; i < fields.length; i++) {
            if (fields[i].Name == controlID) {
                $("#controlId").val(fields[i].Name);
                $("#controlName").val(fields[i].Text);
                $("#extendData").val(fields[i].ExtendData);
                $("#controlValue").val(fields[i].DefaultValue);
                //$("#controlUrl").val(fields[i].URL);
                // $("#accesspattern").val(fields[i].AccessPattern);
                $("#controlWidth").val($(me).width());
                $("#controlHeight").val($(me).height());
            }
        }

    });
    function tab(choose) {
        switch (choose) {
            case "data": $("#configure_data").show(); $("#configure_show").hide(); break;
            case "show": $("#configure_show").show(); $("#configure_data").hide(); break;
        }
    }
    </script>
    <style type="text/css">
    ul
    {
        border-bottom: 0px;
    }
</style>
</head>
<body>
    <form>
    <div id="configure_tabs">
        <ul style="border-bottom: 0px;">
            <li><a onclick="tab('data')" href="#configure_data">数据</a></li>
            <li><a onclick="tab('show')" href="#configure_show">显示</a></li>
        </ul>
        <div id="configure_data">
            <div>
                <div class="data_left">显示名称</div>
                <input type="text" class="data_right" id="controlId" />
            </div>
            <div style="clear: both;">
                <div class="data_left">关联ID</div>
                <input type="text" class="data_right" id="extendData" />
            </div>
            <div style="clear: both;">
                <div class="data_left">控件名</div>
                <input type="text" class="data_right" id="controlName" />
            </div>
            <div style="clear: both;">
                <div class="data_left">绑定的系统参数</div>
                <select id="controlValue" class="data_right">
                    <option value="0">OrgID(默认绑定登录用户组织名)</option>
                    <option value="1">UserID(默认绑定登录名)</option>
                    <option value="2">CurrentDate(默认绑定当前时间)</option>
                </select>
            </div>
            @* <div style="clear: both;">
                <div class="data_left">URL</div>
                <input type="text" class="data_right" id="controlUrl" />
            </div>
            <div style="clear: both;">
                <div class="data_left">自定义方法</div>
                <textarea class="data_right" id="controlBind"></textarea>
            </div>*@
        </div>
        <div id="configure_show" style="display: none">
            <table>
                @*   <tr>
                    <td>读写状态</td>
                    <td>
                        <select id="accesspattern">
                            <option value="Write">读写</option>
                            <option value="ReadOnly">只读</option>
                        </select></td>
                </tr>*@
                <tr>
                    <td>宽度</td>
                    <td>
                        <input type="text" id="controlWidth" /></td>
                </tr>
                <tr>
                    <td>高度</td>
                    <td>
                        <input type="text" id="controlHeight" /></td>
                </tr>
            </table>
        </div>
        <div id="btnchoose">
            <input type="button" id="save" value="确定" />
            <input type="button" id="cancel" value="取消" />
        </div>
    </div>
    </form>
</body>
</html>
