.textbox_combox
{
	width: 170px;
	border: 1px solid #ccc;
	background-image: url(../../../Skins/Default/PluginStyles/JQueryUI/Images/combo_arrow.gif);
	background-position: 155px -1px;
	background-repeat: no-repeat;
}