<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AgileEAPConfigure" type="AgileEAP.Core.Configuration.AgileEAPConfigure, AgileEAP.Core" requirePermission="false" />
    <section name="multiDatabase" type="AgileEAP.Core.Data.Config.MultiDatabaseSection, AgileEAP.Core" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <AgileEAPConfigure>
    <DynamicDiscovery Enabled="true" />
    <Engine Type="" />
    <Themes basePath="~/Themes/" />
  </AgileEAPConfigure>
  <multiDatabase defaultDatabase="AgileEAP">
    <databases>
      <add name="AgileEAP" nh-config-file="E:\AgileEAP\Framework\Tests\AgileEAP.Workflow.UnitTests\CfgFiles\MSSQL.cfg.config" />
    </databases>
  </multiDatabase>
  <appSettings>
    <!--程序的程序的运行模式 Debug 调试, Release 发布-->
    <add key="RunMode" value="Debug" />
    <add key="CacheExpiratMinute" value="600" />
    <!--上传文件，生成临时文件的存放目录-->
    <!--<add key="TempFileDirectory" value="TempFileDirectory"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;url=~/TempFileDirectory/;" />
    <add key="AppID" value="VRMS" />
    <!--主页部件列数-->
    <add key="WidgetPlaceNum" value="2" />
    <add key="DomainSecurityGroup" value="gdtelddc\Domain Admins" />
    <add key="SCVMMServerName" value="ddcvmm" />
    <add key="SCVMMServerPort" value="8100" />
    <add key="Language" value="ENG" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UseSSL" value="false" />
    <add key="SharedSSLUrl" value="" />
    <add key="NonSharedSSLUrl" value="" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="GoogleMerchantID" value="" />
    <add key="GoogleMerchantKey" value="" />
    <add key="GoogleEnvironment" value="Sandbox" />
    <add key="GoogleAuthenticateCallback" value="True" />
    <add key="RouteDebugger:Enabled" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.20902.9026" newVersion="1.5.20902.9026" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>