.ajaxTree-container
{

}

#ajaxTreePromptMessage
{
    text-align: left;
    margin-left: 15px;
}
.ajaxTree-container ul
{
    margin: 0;
    padding: 0;
    text-align: left;
}
.ajaxTree-container ul li
{
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    text-align: left;
    overflow:visible;
    white-space: nowrap;
}
#ajaxTree_Div_Id ul li a, a:link, a:hover, .posts .more a.arrow, .posts .more a:link.arrow
{
    text-decoration: none;
}

.ajaxTree-container a, a:link, a:hover, .posts .more a.arrow, .posts .more a:link.arrow
{
    text-decoration: none;
    color: Black;
}

.ajaxTree-tree, .drag-container
{
    margin: 0px;
    padding: 0px;
}
.ajaxTree-tree ul
{
    /* Sub menu groups */
    margin-left: 0px; /* Left spacing */
    padding-left: 20px !important; /*display:none;	 Initially hide sub nodes */
}

.drag-container ul
{
    margin-left: 20px; /* Left spacing */
    padding-left: 0px;
}

/*
	.ajaxTree-tree .line
	{
		background-image:url(images/ajaxTree-vertical-line.gif);
		background-position:-8px 0;
		background-repeat:repeat-y;
		float:left;
		margin:0;
		width:1px;
	}
	*/

.ajaxTree-tree .line-vertical
{
    background: url(images/ajaxTree-vertical-line.gif) repeat-y 0px 0px;
}

.ajaxTree-tree .line-root
{
    background: url(images/ajaxTree-root-line.gif) white no-repeat;
    _background: url(images/ajaxTree-root-line.gif) white no-repeat 0px 3px;
}

.ajaxTree-tree .line-top
{
    background: url(images/ajaxTree-top-line.gif) white no-repeat;
}

.ajaxTree-tree .line-middle
{
    background: url(images/ajaxTree-middle-line.gif) white no-repeat;
}

.ajaxTree-tree .line-bottom
{
    background: url(images/ajaxTree-bottom-line.gif) white no-repeat;
}

.ajaxTree-tree .line-none
{
}

.ajaxTree-tree li, .drag-container li
{
    /* Nodes */
    list-style-type: none;
    vertical-align: middle;
    line-height: 16px;
}
.ajaxTree-tree li a, .drag-container li a
{
    /* Node links */
    color: #000;
    text-decoration: none;
    font-family: arial; /*font-size:0.8em;*/
    padding-left: 3px;
    line-height: 16px; /*margin-left:2px;*/
}

.ajaxTree-tree li a:hover, .drag-container li a:hover
{
    border-bottom: 1px solid #ccc; /*color:#000; 	*/
    background-color: #abcdef;
}

.ajaxTree-tree img
{
    border: 0;
    padding: 0;
    margin: 0;
}

.ajaxTree-plus-minus
{
    /*margin-bottom:2px;*/
}

.ajaxTree-tree li a:normal
{
}

.ajaxTree-tree li a:hover
{
    text-decoration: none;
}

.ajaxTree-tree li a:visited
{
    /*border-bottom:0px;*/
}

.ajaxTree-tree li a.highlighted-node-item
{
    color: #FFF;
    background-color: #009;
}

.ajaxTreePromptMessage
{
    display: none;
}
.ajaxTree-tree input.ajaxTree-edit-box
{
    /* Css for the text input - rename item */
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    height: 12px;
    background-color: #E0EBF9;
    border-width: 1px;
}

.ajaxTree-tree li .ajaxTree-node-selected:link, .ajaxTree-tree li .ajaxTree-node-selected:hover, .ajaxTree-tree li .ajaxTree-node-selected:visited
{
    background-color: #3e32a7;
    color: white;
}

.ajaxTree-ajax-indicator-container
{
    background-color: #4C94EA;
    color: #fff;
    float: left;
    font-size: 11px;
    position: absolute;
    padding: 5px; /* 		filter:alpha(opacity=80); 		opacity: 0.8; 		-moz-opacity:0.8; 		*/
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.ajaxTree-loading-placeholder
{
    font-style: italic;
    font-size: 10px;
}

.ajaxTree-tree-activenode
{
    background-color: #85BBE7;
}

.ajaxTree-tree-moveovernode
{
    background-color: #0A246A;
}

.ajaxTree-tree-moveoutnode
{
    background-color: Transparent;
}

.ajaxTree-drag-container
{
    text-align: center;
    display: inline-block;
    border: 1px solid #000000;
    border-collapse: collapse;
}
