<div id="footer" style="height: 15px; text-align: center; vertical-align: bottom;">
    @(Version.FullName)版权所有 Copyright © @DateTime.Now.Year @(Version.EnglishName). All Rights Reserved @Version.ICP
</div>
