@using AgileEAP.Core
@using AgileEAP.MVC
@using AgileEAP.Core.Infrastructure
@using AgileEAP.Core.Infrastructure.DependencyManagement
@using AgileEAP.Web
@{
    var workContext = EngineContext.Current.Resolve<AgileEAP.Core.IWorkContext>();
    var currentUser = workContext.User;
    var currentSkin = workContext.Theme;
    Layout = "../Shared/MiniLayout.cshtml";
}
@{
    ViewBag.Title = "User";
}
<script type="text/javascript">
    function confirmPwd() {
        //var processbar = $("#processbar");
        var loginName =$.trim($("#labName").text());
        var oldPwd = $.trim($("#txtOldPwd").val());
        var newPwd = $.trim($("#txtNewPwd").val());
        var comfirmPwd = $.trim($("#txtNewPwd2").val());
        if (newPwd != comfirmPwd) {
            alert("两次输入的密码不一致，请重新输入");
            $("#txtNewPwd").val("");
            $("#txtNewPwd2").val("");
            return;
        }
        //processbar.processbar({ message: '正在处理中...' });
        $.post('/Account/UserManage' + "?LoginName=" + loginName + "&OldPwd=" + oldPwd + "&NewPwd=" + newPwd,
         { LoginName: loginName, OldPwd: oldPwd, NewPwd: newPwd }, function (result) {
           //  processbar.complete();
             if (result && result.Result == 1) {
                 alert("修改成功！");
                 window.parent.parent.parent.$("#actionDialog").dialog("close");
             }
             else {
                 alert("修改失败，请检查输入是否有误！");
             }
         });
    }

</script>
<style type="text/css">

    .Sbtn01
    {
        background: url(../../../Plugins/eClient/Content/Themes/Default/Images/Sbtn03.gif) #ffb66c 50% 50% repeat-x;
        border: 1px solid #db6b00;
        color: #ffffff;
        *line-height: 23px;
        cursor: pointer;
        height: 25px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
        margin: 2px;
    }

        .Sbtn01:hover
        {
            background: url(../../../Plugins/eClient/Content/Themes/Default/Images/Sbtn04.gif) #ffb66c 50% 50% repeat-x;
            border: 1px solid #db6b00;
            color: #FFFFFF;
            *line-height: 23px;
            cursor: pointer;
            height: 25px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 12px;
            margin: 2px;
        }
</style>
<div>
    <table class="div_block">
        <tbody style="width: 100%; font-size: 12px;">
            <tr style="height: 30px;">
                <td align="right" style="width: 700px;">
                    <label>登录名 </label>
                </td>
                <td style="width: 2%;"></td>
                <td align="left" style="width: 700px;">
                    <label class="toptitle" id="labName">@currentUser.LoginName </label>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td align="right">
                    <label>
                        <em>*</em>输入旧密码
                    </label>
                </td>
                <td></td>
                <td align="left">
                    <input id="txtOldPwd" type="password" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td align="right">
                    <label>
                        <em>*</em>输入新密码
                    </label>
                </td>
                <td></td>
                <td align="left">
                    <input id="txtNewPwd" type="password" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td align="right">
                    <label>
                        <em>*</em>再次输入新密码
                    </label>
                </td>
                <td></td>
                <td align="left">
                    <input id="txtNewPwd2" type="password" />
                </td>
            </tr>
            <tr style="height: 30px;">
                <td></td>
                <td></td>
                <td style="float: right">
                    <input id="btnSubmit" class="Sbtn01" type="button" value="确定" onclick="confirmPwd()" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
